.main__button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.yellow__button {
  background: var(--color-yellow);
  color: var(--color-black);
}

.black__button {
  background: var(--color-black);
  color: var(--color-white);
}
