.hero {
  padding: 0;
}
.hero__slider {
  height: 100vh;
}

.hero__slider-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__slider-text {
  background: var(--color-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10rem;
  gap: 1rem;
}

.hero__slider-text > h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
}

.hero__slider-text > p {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-dark-blue);
}

.hero__slider-slide > img {
  height: 100%;
  width: 50vw;
  object-fit: cover;
}

.hero__slider > .swiper-button-prev,
.hero__slider > .swiper-button-next {
  color: var(--color-black);
}

.hero__slider > .swiper-button-prev::before {
  position: relative;
  right: 1.5rem;
  padding: 5rem;
  border-radius: 50%;
  background: var(--color-white);
  content: "";
}

.hero__slider > .swiper-button-prev::after {
  position: relative;
  right: 4.5rem;
}

.hero__slider > .swiper-button-next::before {
  position: relative;
  left: 3.5rem;
  padding: 5rem;
  border-radius: 50%;
  background: var(--color-white);
  content: "";
}

.hero__slider > .swiper-button-next::after {
  position: relative;
  right: 5rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
  .hero__slider-text {
    padding: 5rem;
    gap: 3rem;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
  .hero__slider > .swiper-button-prev:after,
  .hero__slider > .swiper-button-next:after {
    font-size: 1rem;
    line-height: 0;
  }

  .hero__slider > .swiper-button-next::before,
  .hero__slider > .swiper-button-prev::before {
    padding: 2rem;
  }

  .hero__slider > .swiper-button-prev::after {
    right: 3rem;
  }

  .hero__slider > .swiper-button-next::after {
    right: 1rem;
  }

  .hero__slider > .swiper-button-prev::before {
    right: 2rem;
  }

  .hero__slider > .swiper-button-next::before {
    left: 2.5rem;
  }

  .hero__slider-slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .hero__slider-slide > img {
    width: 100%;
    height: 50%;
  }

  .hero__slider-text {
    padding: 2rem;
    align-items: stretch;
    gap: 1rem;
  }

  .hero__slider-text > h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .hero__slider-text > p {
    text-align: center;
    font-family: "Sintony";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-dark-blue);
  }
}
