.contact {
  background: var(--color-bg-light-grey);
  padding: 5rem 15rem;
}

.contact__card {
  background: var(--color-white);
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.contact__card-text {
  color: var(--color-white);
  background-size: cover;
  padding: 5rem 2rem;
  background: url("../../assets/form-background.png");
}

.contact__card-text > h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.contact__card-text > p {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 5rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  font-size: 1rem;
  color: var(--color-black);
  border-bottom: 0.1rem solid var(--color-black);
}

input::placeholder,
textarea::placeholder {
  font-family: "Sintony";
  font-size: 1rem;
  color: var(--color-grey);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-bottom: 0.1rem solid var(--color-yellow);
}

form > button.yellow__button {
  display: block;
  font-size: 0.8rem;
  cursor: pointer;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
  .contact {
    padding: 3rem;
  }

  .contact__card-text > h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  input,
  textarea {
    padding: 1rem;
  }

  form {
    padding: 3rem;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
}
