header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.menu__list {
  display: flex;
  gap: 3rem;
  margin-right: 3rem;
}

.menu__list > button {
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  font-weight: 900;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: var(--color-black);
}
